snippet use "use file/package" b
@use "$1";
endsnippet

snippet use* "use file/package as *" b
@use "$1" as *;
endsnippet


snippet forw "forward package with" b
@forward "$1" with (
	$2
);
endsnippet

snippet imp "import package (legacy)" b
@import "$1";
endsnippet

snippet pcs "prefers-color-scheme media query" b
@media (prefers-color-scheme: ${1:dark}) {
	$2
}
endsnippet
